<h4>Редактировать</h4>

<%= render "form.html", Map.put(assigns, :action, blog_path(@conn, :update, @blog)) %>

<span>
  <%= link to: blog_path(@conn, :index), class: "btn-floating hoverable btn-large waves-effect waves-light deep-purple lighten-2" do %>
  <i class="material-icons lime-text">directions_run</i>
  <% end %>
</span>
