<h4>Новая запись</h4>

<%= render "form.html", Map.put(assigns, :action, blog_path(@conn, :create)) %>

<span>
  <%= link to: blog_path(@conn, :index), class: "btn-floating hoverable btn-large waves-effect waves-light brown lighten-2" do %>
  <i class="material-icons">directions_run</i>
  <% end %>
</span>
