<h2>Show Blog</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @blog.title %>
  </li>

  <li>
    <strong>Subtitle:</strong>
    <%= @blog.subtitle %>
  </li>

  <li>
    <strong>Source:</strong>
    <%= @blog.source %>
  </li>

  <li>
    <strong>Body:</strong>
    <%= @blog.body %>
  </li>

</ul>

<span><%= link "Edit", to: blog_path(@conn, :edit, @blog) %></span>
<span><%= link "Back", to: blog_path(@conn, :index) %></span>
