/* This file is for your main application css. */
.help-block {
  color: red;
  text-transform: capitalize;
}
.card {
  background-color: #F4F3F4 !important;
}

.card-action {
  background-color: #A882C1 !important;
}

.card-source {
  margin-right: 25px;
  background-color: #B9C406;
  color: #F4F3F4;
  font-size: medium;
}

.card-content.card-source a {
  color: #824CA7;
}

.blog-title {
  padding: 10px;
  background-color: #A882C1;
}
nav.navbar {
  color: #B9C406;
  background-color: #824CA7 !important;
  height: 75px;
}
nav.navbar a {
  color: #B9C406;
  height: 75px;
}
.brand-logo {
  color: #B9C406 !important;
}

.blog-subtitle {
  margin-top: 10px;
}
#category {
  margin-right: 25px;
  font-size: large;
}
.exit-btn {
  margin-right: 50px;
}
.show-content{
  padding: 50px 60px;
  margin-bottom: 80px;
  background-color: #F4F3F4
}
